* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* battship component start */

.battleship__stage {
  width: 100%;
  height: 100vh;
}

.battleship__content {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.battleship__content--board {
  flex: 0 0 45%;
  height: 100%;
}

.battleship__content--board--wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.battleship__content--board--container {
  position: relative;
}
@media only screen and (max-width: 992px) {
  .battleship__content {
    flex-direction: column;
    margin-left: -250px;
  }
  .battleship__content--board:last-child {
    margin-top: 10%;
  }
}

/* battship component end */

/* TitleBar css starts */

.battleship__titlebar {
  position: absolute;
  width: 100vw;
  height: 40px;
  background-color: #0d2038;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.battleship__titlebar h5 {
  color: #fff;
  font-size: 20px;
}

/* TitleBar css end */

/* Summary starts */
.summary {
  margin: 40px 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.summary__info {
  width: 100%;
}

.summary__btn {
  background-color: #fff;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #000;
  transition: all 0.2s;
  border-radius: 4px;
  cursor: pointer;
}
.summary__start:hover {
  background-color: #000;
  color: #fff;
}

.summary__instruction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.summary__instruction p {
  font-size: 14px;
}

.summary__instruction ul,
.summary__game--status ul {
  list-style: none;
}

.summary__instruction ul li {
  text-align: center;
}

.summary__instruction .miss,
.summary__instruction .hit,
.summary__instruction .ship-sunk {
  display: inline-flex;
  height: 10px;
  width: 10px;
}

.ins {
  margin-left: 10px;
}

/* Summary ends */

/* SummaryStats starts */
.summary__game--status {
  display: flex;
  border: 1px solid #777;
  align-items: center;
  justify-content: center;
}

.player__info {
  text-align: center;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}
.player__info:not(:last-child) {
  border-right: 1px solid #777;
}
.player__info h5 {
  flex: 1;
}
.game__stats {
  padding: 4px;
}

/* SummaryStats ends */

/* start page starts */
.main-theme {
  height: 100vh;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.main-theme button {
  padding: 10px 50px;
  font-size: 20px;
  margin-top: 10%;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  background-color: #000;
  transition: all 0.2s;
}

.main-theme button:hover {
  border: 1px solid #000;
  color: #000;
  background-color: #fff;
}

/* start page ends */

/* inventory starts */
.battleship__inventory {
  max-width: 35%;
}

.inventory__title {
  font-weight: bold;
  font-size: 125%;
  border-bottom: 1px solid #000000;
}

.inventory__item {
  width: 150px;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s;
  text-transform: capitalize;
  margin-top: 20px;
}

.inventory__item--name {
  margin-right: 1rem;
}

.selected {
  opacity: 0.7;
  background-color: #000;
  color: #fff;
}
.inventory__item:hover {
  background-color: #000;
  color: #fff;
}

.inventory__item:not(:last-child) {
  margin-bottom: 10px;
}

.inventory__item--container--smallbox {
  display: inline-flex;
}
.inventory__item--smallbox {
  height: 10px;
  width: 10px;
  background-color: #f2cd5c;
}
.inventory__item--smallbox:not(:last-child) {
  margin-right: 5px;
}

.intevtory__axis {
  margin-top: 10px;
  display: inline-flex;
}

.intevtory__axis button {
  padding: 5px 10px;
  cursor: pointer;
}
.intevtory__axis button:not(:last-child) {
  margin-right: 1px;
}

/* inventory ends */

/* board starts */
.battleship__board {
  --board-rows: 10;
  --board-columns: 10;
  position: absolute;
  top: 30px;
  left: 30px;
  width: 400px;
  height: 400px;
  border: 1px solid #000000;
  display: grid;
  grid-template-columns: repeat(var(--board-columns), 1fr);
  grid-template-rows: repeat(var(--board-rows), 1fr);
}
.disbale-block {
  pointer-events: none;
}

/* board ends */

/* BoardSquare starts */
.board__square {
  border: 1px solid #000000;
  cursor: crosshair;
  transition: background-color 100ms ease-in-out;
}
.board__square:hover {
  background-color: #ffec99;
}

.carrier {
  background-color: #4c3a51;
}
.battleship {
  background-color: #774360;
}
.cruiser {
  background-color: #b25068;
}
.destroyer {
  background-color: #ff8c8c;
}
.miss {
  background-color: #000;
}
.hit {
  background-color: #f03e3e;
}

.ship-sunk {
  background-color: #6d67e4;
}

/* BoardSquare ends */

/* axis starts */
.battleship__axis {
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.battleship__axis.row {
  flex-direction: row;
  width: 400px;
  height: 20px;
  left: 30px;
  top: 0px;
}

.battleship__axis.column {
  flex-direction: column;
  width: 20px;
  height: 400px;
  left: 0px;
  top: 30px;
}

/* exis ends */

/* axis items starts */
.axis__label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* exis items ends */
