.battleship__stage {
  position: absolute;
  width: 900px;
  height: 700px;
  left: 0px;
  top: 0px;
}

.battleship__summary--container,
.battleship__content {
  padding: 0 20px;
}

.battleship__summary--container {
  position: relative;
  margin-top: 40px;
  display: flex;
}

.battleship__content {
  position: relative;
  margin-top: 40px;
  width: 100%;
  display: flex;
}
