.battleship__stage {
  width: 100%;
  height: 100vh;
}

.battleship__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.battleship__content--board {
  flex: 0 0 45%;
  height: 100%;
}
.battleship__content--board--wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.battleship__content--board--container {
  position: relative;
}
