.battleship__titlebar {
    position: absolute;
    width: 100vw;
    height: 40px;
    background-color: #0D2038;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.battleship__titlebar img {
    margin-left: 10px;
}
